html
    head
        title CRUD

        script(src='js/index.js')
body(onload='start()')
    div#main

        h1.centerText CRUD
        p.centerText By Jason :)
        p
            | Add item to inventory below. You can edit the entries or delete them.
            | When deleting, you&apos;ll be prompted to confirm deletion. Additionally,
            | you can add deletion comments if you&apos;d like. Once an item is deleted,
            | it can be restored and will be added back where it was.
            | On adding, deleting or editing, it saves to a JSON file.
        #controlPanel
            div
                | Add item:
                input#itemname(type='text')
                button#additem(type='button', onclick='addItem') Add Item
            br
        p Inventory
        #list
        p Recently Deleted
        #deletedList
